@import "../../global.scss";
.footer {
  min-height: 500px;
  .footer-sections {
    padding-top: 2em;
    & ul {
      list-style: none;
    }
    & h6 {
      color: $lightText;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.9em;
    }
    & > div > h6::after {
      margin-top: 1em;
      content: "";
      display: block;
      height: 3px;
      width: 30px;
      background-color: rgba(255, 255, 255, 0.3);
      z-index: 1;
    }
    background-color: #5b5b5b;
    min-height: 430px;
    margin: 0 -15px;
    //   padding: 0 15px;

    .footer-description {
      .footer-description__content {
        color: $lightText;
      }
    }
    .footer-news {
      .footer-news__list {
        padding-left: 0;
        .footer-news__item {
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          padding: 10px 0px;
          .footer-news__img {
            width: 45px;
            margin-right: 15px;
          }
          .footer-news__link {
            color: $lightText;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .footer-products {
      .footer-products__list {
        padding-left: 0;
        .footer-products__item {
          padding: 10px 0;
          display: flex;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);

          .footer-products__item-img {
            width: 60px;
          }
          .footer-products__item-content {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .footer-products__item-name {
              color: $lightText;
            }
            .footer-products__item-price {
              margin-top: auto;
              margin-bottom: auto;
            }
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .footer-letter {
      .footer-letter__form {
        display: flex;
        flex-direction: column;
        .footer-letter__email {
          font-weight: 600;
          color: $lightText;
          margin-bottom: 0;
          font-size: 0.8em;
        }
        .footer-letter__input {
          font-weight: 600;
          font-size: 0.8em;
          margin-bottom: 14px;
          padding: 4px;
          outline: rgba(102, 102, 102, 0.85);
        }
        .footer-letter__btn {
          margin-top: auto;
          width: 103px;
          height: 39px;
        }
      }
    }
  }
  .footer-pay {
    text-align: center;
    padding: 15px;
    .footer-pay_list {
      .footer-pay_item {
        // width: 49px;
        // height: 32px;
        margin: 10px;
        .footer-pay_icon {
          border-radius: 4px;
          //   background-color: rgba(0, 0, 0, 0.1);
          color: #424242;
          font-size: 2em;
          width: 50px;
          padding: 4px;
          opacity: 0.8;
          &:hover {
              opacity: 1;
          }
        }
      }
    }
    .footer-pay_copy {
      font-size: .8em;
      color: #5b5b5b;
      margin-bottom: 0;
    }
  }
  .footer-notice {
    margin-bottom: 0;
    text-align: center;
    background-color: black;
    color: #fff;
    font-size: 1em;
    margin: 0 -15px;
    .footer-notice_text {
        margin-bottom: 0%;
    }
  }
}
