.cart-checkout {
  .cart-checkout__form {
    .cart-checkout__heading {
    }
    .cart-checkout__subtotal {
        display: flex;
      .cart-checkout__subtotal-text {
      }
      .cart-checkout__subtotal-price {
      }
    }
    .cart-checkout__shipping {
        display: flex;
        
      .cart-checkout__shipping-title {
        .cart-checkout__shipping-content {
          .cart-checkout__shipping-free {
          }
          .cart-checkout__shipping-address {
          }
          .cart-checkout__shipping-change {
          }
        }
      }
    }
    .cart-checkout__tax {
        display: flex;
        
      .cart-checkout__tax-text {
      }
      .cart-checkout__tax-price {
      }
    }
    .cart-checkout__total {
        display: flex;
        
      .cart-checkout__total-text {
      }
      .cart-checkout__total-price {
      }
    }
    .cart-checkout__btn {
    }
    .cart-checkout__coupon {
        display: flex;
        
      .cart-checkout__coupon-icon {
      }
      .cart-checkout__coupon-title {
      }
    }
    .cart-checkout__input {

    }
    .cart-checkout__coupon-btn {

    }
  }
}
